<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BDconnectionString" connectionString="Data Source=ASUS\ASUS; Initial Catalog=BDInventario; Persist Security Info=False ;User ID=sa; pwd=Colombia1"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>